*{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    
}
body{
    background-color: aqua;
}
body >header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
    height: 100px;
    width: 100%;
    
}
header>h1{
    margin-left: 10px;
}
header>h2{
    margin-right: 10px;
}

article>header{
    width: 100%;
}
header>img{
    height: 150px;
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
    
    margin:20px auto 10px auto;
}
article{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: linear-gradient(0.25turn, #41c727, #a86619, #f1f520);;
    
}
 div{
   
    
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c923c0;
    border-radius: 10px;
}
div h3{
    color: black;
    margin:10px;
    
}
div h4{
    color: white;
    margin: 10px;
}

article:first-of-type img{
    background-image: url(./img/Ezreal_0.jpg);
    background-position: center;
    
}
article:nth-of-type(2) img{
    background-image: url(./img/Jhin_0.jpg);
}
article:nth-of-type(3) img{
    background-image: url(./img/zeri-splash.jpg);
}
article:nth-of-type(4) img{
    background-image: url(./img/Lucian_OriginalCentered.jpg);
}
article:nth-of-type(5) img{
    background-image: url(./img/Xayah_OriginalCentered.jpg);
}
article:nth-of-type(6) img{
    background-image: url(./img/Vayne_0.jpg);
}
article:nth-of-type(7) img{
    background-image: url(./img/Viego_0.jpg);
}
article:nth-of-type(8) img{
    background-image: url(./img/Singed_0.jpg);
}
article:nth-of-type(9) img {
    background-image: url(./img/Tryndamere_0.jpg);
}
article:last-of-type img{
    background-image: url(./img/gwen-splash.jpg);
}

img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
    width: 90%;
    
}
section p{
    margin: 10px;
    color: midnightblue;
}
section{
    width: 90%;
    
}
footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
i{
    color: red;
}

@media (min-width:320px) and (max-width:420px) {
    body>header{
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: center;
    }
    body>header h2{
        margin: 0;
    }
    body>header h1{
        margin: 0 0 10px 0;
    }
}